<template>
  <main>
    <landing />

    <why />

    <search />
    <services />

    <who />

    <sfs />

    <section
      id="signature"
      class="pb-1"
    >
      <b-container>
        <div class="mx-n4">
          <signature />
        </div>
      </b-container>
    </section>
  </main>
</template>

<script>
import Landing from './home/Landing.vue';
import Why from './home/Why.vue';
import Search from './home/Search.vue';
import Services from './home/Services.vue';
import Who from '../../commons/components/hos/Who.vue';
import Sfs from '../../commons/components/sfs/Main.vue';
import Signature from '../components/Signature.vue';

export default {
  components: {
    Landing,
    Why,
    Search,
    Services,
    Who,
    Sfs,
    Signature,
  },

  data() {
    return {
      explain: false,
    };
  },
};
</script>

<style lang="scss">
#home {
  background: linear-gradient(-200deg, #95D4CB, var(--f-f7));
  font-family: Roboto;
  position: relative;
  overflow-y: scroll;

 main > .row {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#who, #f-sfs, #signature {
  background: var(--f-g3);
}

#search, #services {
  .vert, .rouge {
    color: var(--f-g7);
  }
  .violet, .fc-d9, .orange, h3 span > span {
    color: var(--f-g7);
    font-weight: normal;
  }
}
</style>
