<template>
  <section
    id="enjeux"
    class="row"
  >
    <b-container class="ombre">
      <b-row>
        <b-col
          lg="8"
          xl="9"
          class="mb-5 mx-auto"
        >
          <h2 v-html="$t('home.explain.stakes.title')"></h2>
          <p v-html="$t('home.explain.stakes.text1')"></p>
          <p v-html="$t('home.explain.stakes.text2')"></p>
        </b-col>
      </b-row>

      <b-row>
        <b-col
          lg="8"
          xl="9"
        >
          <h2 v-html="$t('home.explain.danger.title')"></h2>
          <p v-html="$t('home.explain.danger.text')"></p>
        </b-col>
      </b-row>

      <b-row>
        <b-col
          lg="6"
          class="mt-4"
        >
          <h3 id="t2-espionnum">
            <i class="far fa-eye fa-fw fc-g6"></i>
            <span v-html="$t('home.explain.danger.espionum.title')"></span>
          </h3>
          <p v-html="$t('home.explain.danger.espionum.desc')"></p>

          <img
            alt=""
            class="d-block mx-auto"
            :src="`${$t('baseurl')}img/${$t('lang')}/${$t('img.gee[1]')}`"
          />
        </b-col>
        <b-col
          lg="6"
          class="mt-4"
        >
          <h3 id="t2-privatum">
            <i class="far fa-circle-user fa-fw fc-g6"></i>
            <span v-html="$t('home.explain.danger.privatum.title')"></span>
          </h3>
          <p v-html="$t('home.explain.danger.privatum.desc')"></p>
        </b-col>
      </b-row>

      <b-row>
        <b-col
          lg="6"
          class="mt-4"
        >
          <h3 id="t2-centralisum">
            <i class="far fa-circle-dot fa-fw fc-g6"></i>
            <span v-html="$t('home.explain.danger.centralisum.title')"></span>
          </h3>
          <p v-html="$t('home.explain.danger.centralisum.desc')"></p>
        </b-col>
        <b-col
          lg="6"
          class="mt-4"
        >
          <h3 id="t2-fermetum">
            <i class="fas fa-lock fa-fw fc-g6"></i>
            <span v-html="$t('home.explain.danger.fermetum.title')"></span>
          </h3>
          <p v-html="$t('home.explain.danger.fermetum.desc')"></p>
        </b-col>
      </b-row>

      <img
        alt=""
        class="d-block mx-auto"
        :src="`${$t('baseurl')}img/${$t('lang')}/${$t('img.gee[0]')}`"
      />
    </b-container>
  </section>
</template>
