<template>
  <section class="row more">
    <b-container class="ombre">
      <h2
        class="mt-4"
        v-html="$t('home.more.title')"
      ></h2>
      <p
        class="accroche"
        v-html="$t('home.more.desc')"
      ></p>

      <b-row>
        <b-col
          md="4"
          class="mt-3"
        >
          <a
            aria-hidden="true"
            class="d-block text-center"
            :href="$t('link.docs')"
          >
            <i :class="`${$t('icon.docs')} fa-lg fa-shape-circle fa-border fc-o6 fd-o5`"></i>
          </a>
          <p v-html="$t('home.more.docs.desc')"></p>
          <p>
            <b-btn
              :href="$t('link.docs')"
              size="sm"
              variant="outline-secondary"
              v-html="$t('home.more.docs.btn')"
            />
          </p>
        </b-col>
        <b-col
          md="4"
          class="mt-3"
        >
          <a
            aria-hidden="true"
            class="d-block text-center"
            :href="$t('link.cloud')"
          >
            <i :class="`${$t('icon.cloud')} fa-lg fa-shape-circle fa-border fc-v6 fd-v5`"></i>
          </a>
          <p v-html="$t('home.more.cloud.desc')"></p>
          <p>
            <b-btn
              :href="$t('link.cloud')"
              size="sm"
              variant="outline-secondary"
              v-html="$t('home.more.cloud.btn')"
            />
          </p>
        </b-col>
        <b-col
          md="4"
          class="mt-3"
        >
          <a
            aria-hidden="true"
            class="d-block text-center"
            :href="$t('link.chatons')"
          >
            <i class="fas fa-cat fa-lg fa-shape-circle fa-border fc-j6 fd-j5"></i>
          </a>
          <p v-html="$t('home.more.chatons.desc')"></p>
          <p>
            <b-btn
              :href="$t('link.chatons')"
              size="sm"
              variant="outline-secondary"
              v-html="$t('home.more.chatons.btn')"
            />
          </p>
        </b-col>
      </b-row>

      <h2
        class="mt-4"
        v-html="$t('home.why.title')"
      ></h2>
      <p
        class="accroche"
        v-html="$t('home.why.desc')"
      ></p>

      <b-row>
        <b-col
          md="4"
          class="mt-3"
        >
          <a
            aria-hidden="true"
            class="d-block text-center"
            href="#enjeux"
            @mouseover="$parent.explain=true;"
            @click="$parent.explain=true;"
          >
            <i class="fas fa-user-secret fa-lg fa-shape-circle fa-border fc-r8 fd-r7"></i>
          </a>
          <p v-html="$t('home.why.explain.desc')"></p>
          <p>
            <b-btn
              href="#enjeux"
              size="sm"
              variant="outline-secondary"
              @mouseover="$parent.explain=true;"
              @click="$parent.explain=true;"
              v-html="$t('home.why.explain.btn')"
            />
          </p>
        </b-col>
        <b-col
          md="4"
          class="mt-3"
        >
          <a
            aria-hidden="true"
            class="d-block text-center"
            href="#solutions"
            @mouseover="$parent.explain=true;"
            @click="$parent.explain=true;"
          >
            <i class="fas fa-shield-alt fa-lg fa-shape-circle fa-border fc-v6 fd-v5"></i>
          </a>
          <p v-html="$t('home.why.props.desc')"></p>
          <p>
            <b-btn
              href="#solutions"
              size="sm"
              variant="outline-secondary"
              @mouseover="$parent.explain=true;"
              @click="$parent.explain=true;"
              v-html="$t('home.why.props.btn')"
            />
          </p>
        </b-col>
        <b-col
          md="4"
          class="mt-3"
        >
          <a
            aria-hidden="true"
            class="d-block text-center"
            :href="$t('link.S') + '/association'"
          >
            <i class="far fa-address-card fa-lg fa-shape-circle fa-border fc-f7 fd-f6"></i>
          </a>
          <p v-html="$t('home.why.who.desc')"></p>
          <p>
            <b-btn
              :href="`${$t('link.S')}/association`"
              size="sm"
              variant="outline-secondary"
              v-html="$t('home.why.who.btn')"
            />
          </p>
        </b-col>
      </b-row>

      <b-row class="mt-5 mx-n3 bg-light rounded">
        <b-col
          class="pt-3 d-flex flex-column justify-content-between"
          lg="6"
        >
          <div>
            <h2 v-html="$t('home.contact.title')"></h2>
            <p v-html="$t('home.contact.text1')"></p>
            <ul>
              <li
                v-for="item in $t('home.contact.text2')"
                :key="item"
                v-html="item"
              ></li>
            </ul>
            <p v-html="$t('home.contact.text3')"></p>
          </div>
          <p>
            <b-btn
              variant="primary w-50"
              :href="$t('link.contact')"
            >
              <i class="fas fa-envelope fa-fw"></i>
              <span v-html="$t('home.contact.btn')"></span>
            </b-btn>
          </p>
        </b-col>
        <b-col
          class="pt-3 d-flex flex-column justify-content-between"
          lg="6"
        >
          <div>
            <h2 v-html="$t('home.support.title')"></h2>
            <p v-html="$t('home.support.text1')"></p>
            <ul>
              <li
                v-for="item in $t('home.support.text2')"
                :key="item"
                v-html="item"
              ></li>
            </ul>
            <p v-html="$t('home.support.text3')"></p>
          </div>
          <p>
            <b-btn
              :href="$t('link.S')"
              variant="soutenir w-50"
            >
              <i class="fas fa-heart fa-fw"></i>
              <span v-html="$t('home.support.btn')"></span>
            </b-btn>
          </p>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
.more a:not(.btn) {
  border: none;
}

.more h2 {
  border-bottom: 8px solid var(--f-g2);
}

.accroche {
  font-weight: bold;
}
</style>
